# Exploratory Data Analysis - Python

This Jupyter Notebook holds the code and explanation for all the steps undertaken for an exploratory data analysis of this data.

# Table of Contents

1. Load Data
2. Clean Data & Reformating
3. Analysis
3. Evaluate Results

# 1 Load Data & Libraries

Libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
pd.set_option('max_columns', None)

Loading the data

In [6]:
df = pd.read_csv("Path/to/csv")
df = pd.DataFrame(df)

# 2 Clean Data

Drop unneccessary cells

In [7]:
df = df.drop(df.columns[[2,4,5,7,8,9,13,14,15,20]], axis=1)

Creating a new column

In [8]:
df['REVENUE'] = df.QUANTITY * df.UNIT_PRICE

Reordering column

In [9]:
df = df[['COMMODITY', 'COMMODITY_DESCRIPTION', 'QUANTITY', 'UNIT_PRICE', 'REVENUE', 'PURCHASE_ORDER', 'AWARD_DATE', 'VENDOR_CODE', 'CITY', 'ST', 'ZIP', 'CTRY']]

Dropping rows with 0 revenue

In [10]:
df = df.drop(df[df.REVENUE == 0].index)

Dropping rows with NaN values

In [ ]:
df = df.dropna()

# 3 Analysis

## 1 Which commodity has the most revenue, and which one the least?

In [ ]:
df_com = df.groupby('COMMODITY').sum().reset_index()

results_high = df_com.query('REVENUE > 20000000')
results_low = df_com.query('REVENUE < 1')

results_high.plot.bar(x = 'COMMODITY', y  = 'REVENUE')
plot.show(block=True)
results_low.plot.bar(x = 'COMMODITY', y  = 'REVENUE')
plot.show(block=True)

## 2 Which states have the most revenue, and which one the least

In [ ]:
df_st = df.groupby('ST').sum().reset_index()

st_high = df_st.query('REVENUE > 10000000')
st_low = df_st.query('REVENUE < 100000')

st_high.plot.bar(x = 'ST', y = 'REVENUE')
plot.show(block=True)
st_low.plot.bar(x = 'ST', y = 'REVENUE')
plot.show(block=True)

## 3 Which is the most popular product in each state

In [ ]:
df_comst = df.loc[df.groupby(['ST'], sort=False)['REVENUE'].idxmax()][['ST', 'COMMODITY', 'REVENUE']]
df_comst

## 4 Which vendors have the most revenue, and which the least

In [ ]:
df_ven = df.groupby('VENDOR_CODE').sum().reset_index()

ven_high = df_ven.query ('REVENUE > 30000000')
ven_low = df_ven.query ('REVENUE < 90')

ven_high.plot.bar(x = 'VENDOR_CODE', y = 'REVENUE')
plot.show(block=True)
ven_low.plot.bar(x = 'VENDOR_CODE', y = 'REVENUE')
plot.show(block=True)

## 5 Historical evolution of sales

In [ ]:
df['AWARD_DATE'] = pd.to_datetime(df['AWARD_DATE'])

df_time = df.groupby(pd.Grouper(key='AWARD_DATE', axis = 0, freq='M')).sum().reset_index()
df_time.plot(x = 'AWARD_DATE', y = 'REVENUE')

plot.show(block=True)

# 4 Evaluate Results

In the end, after several rows were removed from the dataframe, a column was renamed, and a revenue collumn was added. Several questions were asked in order to get a better idea of what the data holds. This included several insights into the performance of several commodities, states, and vendors. Together with an overal evolution of sales.